<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>New Task</h1><br>
    <h2>
        <a href="/">Home Page</a>
        <a href="/newTask">New Task</a>
        <a href="/listTask">List Task</a>
        <a href="/updateTask">Update Task</a>
        <a href="/deleteTask">Delete Task</a>
    </h2><br>
    <form action="/newTask" method="POST">
        Task Name:
        <input type="text" method="POST" name="tname" /> <br>
        Assigned to:
        <input type="text" method="POST" name="assto" /> <br>
        Task Due:
        <input type="date" method="POST" name="tdue" /> <br>
        Task Status: 
        <input type="text" method="POST" name="tstatus" /> <br>
        Task Desc:
        <input type="text" method="POST" name="tdesc" /> <br>
        <input type="submit" value="Submit" /> <br>
    </form>
</body>
</html>