<html>
<head>
    <link rel="stylesheet" text = "text/css" href="style1.css">
</head>
<body>
    <h1>Delete completed Tasks? are you sure?</h1>
</br>
    <h2>
        <a href = "http://localhost:8080/addTask"> Add new task </a>
         &nbsp; 
         <a href = "http://localhost:8080/listitems"> List all tasks </a>
         &nbsp;
         <a href="http://localhost:8080"> Home </a> 
         &nbsp;  
         
    </h2>
    <form action="/deleteCompTasks" method="POST">
        <input type = "submit" method="POST" name ="id1" /> Delete Completed Tasks<br>
    </form>
</body>
</html>