<html>
<head>
    <link rel="stylesheet" type="text/css" href="style1.css">
</head>
<body>
    <h1>Home</h1>
    <img src="someArt.jpg" alt="pic" width="500" height="333"><br>
    <h2>
        <a href = "http://localhost:8080/addTask"> Add new task </a> &nbsp;
        <a href = "http://localhost:8080/listTasks"> List all tasks </a> &nbsp;
        <a href = "http://localhost:8080/listDevelopers"> List all developers  </a> &nbsp;
        <a href = "http://localhost:8080/addDeveloper"> Add a developer  </a> &nbsp;
    </h2>
</body>
</html>