<html>
    <head>
            <link rel="stylesheet" type="text/css" href="style1.css">
    </head>

<body>
    <h2>
        <a href="http://localhost:8080"> Home </a> &nbsp;
        <a href = "http://localhost:8080/addTask"> Add new task </a>&nbsp;
        <a href="http://localhost:8080/deleteAll"> Delete all Tasks ? </a> &nbsp;
        <a href = "http://localhost:8080/deleteTask"> Delete task </a> &nbsp;
    </h2>
    </br>
    <h3>The developers are:
        </h3>
        <table style="width:100%">
            <tr>
                <td>Developer ID: </td>

                <td>Full Name:  </td>
                <td>Level: </td>
                <td>State: </td>
                <td>Suburb:  </td>
                <td>Street:  </td>
                <td>Unit:  </td>
            </tr>
            <% for (var i = 0;i< myDB2.length; i++) { %>
                <tr>
                    <td><%=myDB2[i]._id%></td>
                    <td><%=myDB2[i].name.FirstName + " " +myDB2[i].name.SecondName%></td>
                    <td><%=myDB2[i].Level%></td>
                    <td><%=myDB2[i].State%></td>
                    <td><%=myDB2[i].Suburb%></td>
                    <td><%=myDB2[i].Street%></td>
                    <td><%=myDB2[i].Unit%></td>
                </tr>

                <%} %>
            </table>
    
</body>

</html>
